name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Prepare
        run: |
          rustup toolchain install 1.63.0 --force
          rustup override set 1.63.0
          sudo chmod +x scripts/build_examples.sh

      - name: Build
        run: cargo build --verbose

      - name: Build Examples
        run: scripts/build_examples.sh

      - name: Test
        run: cargo test --verbose

      - name: Lint
        run: |
          rustup override unset
          rustup component add clippy
          cargo clippy
          cd ./telexide_proc_macros
          cargo clippy
